
p { color: #222; font-weight: bold; }
a { color: #000; }
a:hover { text-decoration: underline; }

h1 { font-size: 80px; margin: 0 0; }
h2 { margin-top: 10px; }

 pre { background: #fff; -moz-border-radius: 10px; color: #444; font-weight: bold; font-size: 80%; border: 1px solid #ccc; }
code { color: #ffc; }

.header { text-align: left; padding-left: 20px; }
.header h1 { color: #000; margin: 0 0 -15px 0; font-family: times; }
.header h2 { color: #AAA; font-size: 19px; margin-left: 10px; font-family: times; }

.main { color: #222; padding: 20px 0 30px 0;  width: 350px; }
.main h1 { font-size: 40px; padding: 30px 0 10px 0; margin: 0 0 -10px 0; color: #ffc; color: #000; }
.main h2 { color: #000; }
.main a { text-decoration: underline; }
.main code { color: #000; }

.nav {
  width: 350px;
  padding: 4px 0;
  text-align: center;
  color: white;
}
.nav a { font-size: 24px; font-weight: bold; font-variant: small-caps; text-decoration: none; letter-spacing: -2px; }
.nav a:hover { color: #555; }

#footer { padding: 20px; text-align: center; margin: 0 auto; width: 800px; }
#footer .ad { padding: 20px 0; }
#footer .copyright { color: #444; font-weight: bold; font-size: 80%; line-height: 150%; }

.page { width: 900px; margin: 0 auto; }
.highlight { color: #000; }
.bronze { background: url(../images/blackboard.pn) white; padding: 20px 0; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }
.quote { font-size: 80%; font-style: italic; text-align: center; }

.r { color: red; }
.g { color: green; }
.b { color: blue; }
