body { background: #e5e5e5; }

p { color: #222; font-weight: bold; }
a { color: #000; }
a:hover { text-decoration: underline; }

h1 { font-size: 80px; margin: 0 0; }
h2 { margin-top: 10px; }

 pre { background: transparent; border-radius: 10px; color: #eee; font-weight: bold; font-size: 80%; border: 0px solid #ccc; }
code { color: #ffc; }

.header { text-align: left; padding-left: 50px; }
.header h1 { color: #000; margin: 0; font-family: times; }
.header h2 { color: #AAA; font-size: 19px; margin-left: 5px; font-family: times; }

.main { color: #222; padding: 20px 0 30px 0;  width: 350px; background: transparent; }
.main h1 { font-size: 40px; padding: 30px 0 10px 0; margin: 0 0 -10px 0; color: #ffc; color: #000; }
.main h2 { color: #000; }
.main a { text-decoration: underline; }
.main code { color: #000; }

.nav {
  width: 350px;
  padding: 20px 0;
  text-align: center;
  color: white;
}
.nav a { font-size: 18px; font-weight: normal; font-variant: small-caps; text-decoration: none; padding: 0 10px; font-family: times; }
.nav a:hover { color: #555; }

#footer { padding: 20px; text-align: center; border-top: 1px solid #ccc; background: #fff; }
#footer .ad { padding: 20px 0; }
#footer .copyright { color: #444; font-weight: bold; font-size: 80%; line-height: 150%; }

.page { width: 900px; margin: 0 auto; background: transparent; }
.highlight { color: #000; }

#slideshow .board { width: 400px; }
.bronze { background: url(../images/blackboard.png) center no-repeat; padding: 15px 0; border-top: 0px solid #ccc; border-bottom: 0px solid #ccc; height: 425px; }
.bronze h3 { color: white; padding-left: 10px; }

.quote { font-size: 80%; font-style: italic; text-align: center; font-weight: normal; }

.r { color: red; }
.g { color: green; }
.b { color: blue; }

.driven {
  font-size: 1.5em;
  font-weight: normal;
  margin-top: 20px;
  padding: 20px 0;
  text-align: center;
}
.driven h1 { font-size: 60px; font-weight: normal; }

.active { display: visible; }
